@import '~antd/dist/antd.min.css';
@import './components/auth';
@import './components/forgot';
@import './components/registration';

body {}

.ant-layout-content{
  height: 50vh;
 // background-color: hsla(247, 93%, 67%, 0.8);
  color:#fff;
  z-index: 1;
}

.space-align-container {
  display: flex;
  align-item: flex-start;
  flex-wrap: wrap;
}